[Desktop Entry]
Type=Application

Name=System Update
Exec=/usr/bin/blackbox-terminal -c topgrade
Icon=update

Comment=Update your system

Categories=System;Administration;
Keywords=system;update;topgrade;
