[Unit]
Description=System setup preparation
After=gdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/blackbox-terminal -c '/bin/bash /etc/firstsetup/bin/setup'
RemainAfterExit=true
ExecStartPost=/usr/bin/systemctl disable --global systemsetup.service

[Install]
WantedBy=graphical-session.target