[Unit]
Description=System setup on user login
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/blackbox-terminal -c /etc/firstsetup/bin/firstsetup

[Install]
WantedBy=graphical-session.target
