[Unit]
Description=System setup on user login
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /etc/firstsetup/bin/firstsetup

[Install]
WantedBy=graphical.target