[Unit]
Description=System setup preperation
After=gdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'mkdir -p /home/*/.config/autostart && mv /etc/firstsetup/misc/skel/firstsetup.desktop /home/*/.config/autostart/'
RemainAfterExit=true
ExecStartPost=/usr/bin/systemctl disable systemsetup.service

[Install]
WantedBy=default.target
