[Unit]
Description=Mount nix store/var
DefaultDependencies=no
After=mkdir-rootfs@nix.service
Wants=mkdir-rootfs@nix.service
Before=sockets.target
After=ostree-remount.service
BindsTo=etc.mount

[Mount]
What=/etc/sysnix
Where=/nix
Options=bind,x-mount.mkdir
Type=none