[Desktop Entry]
Type=Application

Name=Setup
Exec=/usr/bin/blackbox-terminal -c 'bash /etc/firstsetup/bin/setup'
Icon=preferences-desktop

Comment=First Setup